{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ name }}!</p>

<div style="clear: both">
	{%if value[0]['cash'] > 50000%}
		<h1> Total Gain / Loss: <span style='color:green'> +${{ gain }}</span></h1>
	{%else%}
		<h1> Total Gain / Loss: <span style='color:red'> -${{ gain }}</span></h1>
	{%endif%}
	<h1> Cash Purchasing Power: ${{ cash }}</h1>
</div>

<div style="clear: both">
	<h1> Holdings: </h1>
	<hr />
	{% for i in range(0, amount) %}
		<p>{{ value[i]['position'] }} : {{ value[i]['position_amount'] }} </p>
		<hr />
	{%endfor%}
</div>





{% endblock %}